  <div class="row">
    <div class="col-md-12 thumbnail" style="background-image:url('img/back.png')">
    <h1><i class="fa fa-pencil"></i> Blog</h1>
    <h3>'cause communication and stuff, ya know...</h3>
    </div>
  </div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
 <marked>
I'm addicted to comments
========================
- First step is admitting you have a problem
- Second step is building an entire data pipeline to get your daily fix
___________

My name is JB and I'm an addict. Ok, the joke is getting old and addiction is not a funny thing, but in a way I really am addicted. I should have a PhD in procrastination, I'm amazing at it and one of my goto time wasting occupation is Google News. That's great, I can quench my thirst of light brain activity for half an hour reading actual news, easy.

But there's a trap, if you scroll down just a bit too far on a news article (or any Youtube video) you enter, more often than not, the strange world of comments. 

I get the same feeling reading comments on the news as I do when I'm stuck in traffic in the middle of the afternoon on a week day :
> Who are those people and how the hell did they end up here?

Trolls, racists, consipirationists, Justin Bieber fans, and all sorts of people you rarely get to interact with are there arguing about stuff, blaming someone, anyone, everyone. And somehow even though I know very well the debate is 99.9% of the time worthless, I just love it. And when some news actually concerns me, say the Charlie Hebdo attacks (I'm French), I will just roam the web opening up multiple articles about the same thing just to get the comments and also open Twitter with a specific filter to get some real time stuff.

Anyway, I'm an addict, but I'm also a computer scientist and I'm currently in the Silicone Valley in a data engineering program called Insight Data Science. And as this program includes building in 4 weeks a cool big data driven project, I decided that instead of getting rid of my addiction, I'd just make it way more efficient.
>Aggregating, classifying, sorting, displaying all the comments from a lot of news sources on the same page classified by topic, side to side with a live twitter feed.

This is how [Flocking comments](http://flockingcomments.com) came to life. Now you can simply go and check it out, or read further where I give an overview of the stack I used to get there, because I find it pretty cool.

______________

## The data pipline




 </marked>
 </div>
 </div>
