  <!-- Overlay div for the user profile not shown by default -->
 <div class='ng-modal' ng-show='showUser'>
  <div class='ng-modal-overlay' ng-click='hideModal()'>
  </div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
        <h3>What's {{currentUser}} been up to?</h3>
          <div ng-repeat="commentUser in userComments" class="thumbnail">
            <div>
              <img src="img/like.png" height="10" width="10"> {{commentUser.like_count}} published {{commentUser.created_at}} on <a ng-href="{{commentUser.url}}">{{commentUser.url.substring(7,25)+"..."}}</a>
            </div>
            <div>
              {{commentUser.message}}
            </div>
          </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12 thumbnail" style="background-image:url('img/back.png')">
    <h2><i class="fa fa-line-chart"></i> Trending topics in the news</h2>
      <div class="row">
        <div class="col-md-12">
        <h4><i class="fa fa-clock-o"></i> Last hour</h4>
          <div class="btn-group btn-group-xs" role="group">
            <a ng-href="#/comments/{{theTopic}}" class="btn btn-default" ng-repeat="theTopic in topics1h">
              #{{$index+1}} {{theTopic}}
            </a>
          </div>
        </div>
        <div class="col-md-12">
        <h4><i class="fa fa-clock-o"></i> Last 12h</h4>
          <div class="btn-group btn-group-xs" role="group">
            <a ng-href="#/comments/{{theTopic}}" class="btn btn-default" ng-repeat="theTopic in topics12h">
              #{{$index+1}} {{theTopic}}
            </a>
          </div>
        </div>
        <div class="col-md-12">
        <h4><i class="fa fa-clock-o"></i> All time</h4>
          <div class="btn-group btn-group-xs" role="group">
            <a ng-href="#/comments/{{theTopic}}" class="btn btn-default" ng-repeat="theTopic in topicsalltime | limitTo:limitTopics">
              #{{$index+1}} {{theTopic}}
            </a> 
            <button class="btn btn-primary" ng-if="limitTopics < 100" data-ng-click="incrementLimit()">more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 thumbnail" style="padding:14px">
      <!-- COMMENTS PART -->
      <h2><i class="fa fa-comments-o"></i> Herd of comments about "{{topic}}"</h2>
      <h5>What's not to like?</h5>
      <h3><i class="fa fa-cog"></i> Have it your way</h3>
      <div class="row" style="margin-bottom:25px;">
        <div class="col-md-3">
          <div>
          Sort comments by:
          </div>
          <div>
          Search: 
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <select ng-model="orderProp">
              <option value="">Most Recent first</option>
              <option value="-like_count">Likes</option>
            </select>
          </div>
          <div>
            <input ng-model="query">
          </div>
        </div>
        <div class="col-md-3">
          Nested <input type="checkbox" ng-model="nest">
        </div>
      </div>

      <!--Spinner wheel for comments-->
      <div ng-if="!loadedComments" style="text-align:center">
        <img src="img/loading.gif" height="400">  
      </div>
      <!--No comments on this topic-->
      <div ng-if="isEmpty" style="text-align:center">
        <h3><i class="fa fa-frown-o"></i> No comments on this topic yet, give people time !</h3> 
      </div>
      <!-- Comments as a flat organization -->
      <div class="row" ng-if="!nest && loadedComments && !isEmpty"  ng-repeat="comment in comments | filter:query | orderBy:orderProp">
          <div class="col-md-12 phones thumbnail">
            <div>
              <img src="img/like.png" height="10" width="10"> {{comment.like_count}} published {{comment.created_time}} on <a ng-href="{{comment.url}}">{{comment.url.substring(7,25)+"..."}}</a>
            </div>
            <div>
              <a href="javascript:;" ng-click="getUserComments(comment.from)">{{comment.from}}</a></b>: {{comment.message}}
            </div>
          </div>
      </div>

      <!-- Comments as a nested organization -->
      <div class="row" ng-if="nest  && loadedComments && !isEmpty"  ng-repeat="article in articles | orderBy:'-firstPost'">
        <div class="col-md-12 comment_box thumbnail">
          <h4 class="pull-right">
            <a ng-show="nested_article[{{$index}}]" ng-click="toggle($index)" href="javascript:;">[&ndash;]</a>
          </h4>
          <h4 class="pull-right">
            <a ng-show="!nested_article[{{$index}}]" ng-click="toggle($index)" href="javascript:;">[+]</a>
          </h4>
          <blockquote>
           <i class="fa fa-newspaper-o"></i>  <a target="_blank" ng-href="{{article.url}}">{{article.title}}</a> ({{getDomain(article.url)}})
          </blockquote>
          <div ng-show="nested_article[{{$index}}]">
            <div class="row" ng-if="nest" ng-repeat="comment in article.comments | filter:query | orderBy:orderProp">
              <div class="col-md-12 comment" ng-class-even="'odd_row'">
                <div>

                </div>
                <div>
                  (<i class="fa fa-thumbs-o-up"></i> {{comment.like_count}}) <b>
                  <a href="javascript:;" ng-click="getUserComments(comment.from)">{{comment.from}}</a></b>: {{comment.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- TWITTER PART -->
    <div class="col-md-offset-1 col-md-4 thumbnail" style="padding:14px">
      <h2><i class="fa fa-twitter"></i> Flock of Tweets</h2>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="tweetMarkers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <!--Spinner wheel for tweets-->
      <div ng-if="!loadedTweets" style="text-align:center">
        <img src="img/loading.gif" width="100%">  
      </div>
      <div class="row" ng-if="loadedTweets" ng-repeat="tweet in tweets | filter:query | limitTo:100">
          <div class="col-md-12 phones thumbnail">
            <div>
               <img ng-src="{{tweet.from_pic}}">{{tweet.from}}
            </div>
            <div>
              {{tweet.message}}
            </div>
          </div>
      </div>
    </div>
  </div>
