  <div class="row">
    <div class="col-md-12 thumbnail" style="background-image:url('img/back.png')">
    <h1><i class="fa fa-pencil"></i> Demo</h1>
    <h3>'cause communication and stuff, ya know...</h3>
    </div>
  </div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<iframe src="//www.slideshare.net/slideshow/embed_code/44360080" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/JeanBaptistePettit/demo5-44360080" title="Demo5" target="_blank">Demo5</a> </strong> from <strong><a href="//www.slideshare.net/JeanBaptistePettit" target="_blank">Jean-Baptiste Pettit</a></strong> </div>
 </div>
 </div>
